@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
body{
    background-color:#fcc4ba;
    font-family: 'Antic Slab', serif;
    background-image: url("../img/background.png");
    
}
.header-area{
    background-color: white;
    border-bottom: 2px solid black;
}
.header-area .main-menu .navbar .nav-link{
    color:white;
}

.btn-primary{
    background-color:#F56E56;
    border-color:#F56E56;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color:#E55A41;
    border-color:#E55A41;
}
li {
    margin-right: 20px;
}
.body1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    margin-top: 150px;
    background-color:white;
    border: 2px solid white;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 90%;
    font-size: xx-large;
    letter-spacing: 0.1rem;
}
.main-block{
  width: 1100px;
  height:300px
}
.score-Display{
    background-color:white;
    border: 2px solid white;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 40%;
    font-size: xx-large;
    letter-spacing: 0.1rem;
    margin:40px 40px 40px 40px;
    width: 400px;
}
.reduce-size{
  margin-top:20px;
  width:300px;
  height:80px;
  padding: 1rem;
  text-align: center;

}
  .quote-input:focus {
    border-color: #aca7a7;
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .correct {
    color: #4ca74c;
  }
  
  .incorrect {
    color:#f14444;
  }
  .highlight{
    border-radius: 0.3rem;
    background-color:yellow;
  }
  .refreshButton{
    font-size:25px;
    margin-top: 0.4rem;
  }
  .refresh{
      font-size:30px;
  }
  .Timer{
      font-size:20px;
  }
  .changer{
    font-size:25px;
    color:white;
  }
  .Name{
    font-size:20px;
    color:black;
    margin-right: 50px;
}
  .highlight-score{
    background-color: #fcc4ba;
    border-radius: 0.3rem;
    padding: 0.3rem;
  }
  #quoteDisplay{
    height:200px;
    overflow:hidden;
  }
